/* Hilangkan margin/padding */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  /* Style Splash Screen */
  #splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 0.8s ease-out 1.7s forwards; /* fade setelah 1.7 detik */
  }
  
  .splash-logo {
    width: 400px;
    animation: zoomIn 1s ease-in-out;
  }
  
  /* Animasi muncul logo */
  @keyframes zoomIn {
    from { opacity: 0; transform: scale(0.7); }
    to { opacity: 1; transform: scale(1); }
  }
  
  /* Animasi hilang layar */
  @keyframes fadeOut {
    to { opacity: 0; visibility: hidden; }
  }
  